<footer>
	<div class="col">
		<img src="/img/logo.png" alt="" class="logo">
	<div>
		<h4>Follow us</h4>
		<div class="icon">
			<a href="https://www.facebook.com/eividigital" class="fab fa-facebook-f"></a>
			<a href="https://www.instagram.com/eividigital" class="fab fa-instagram"></a>
		</div>	
	</div>
	</div>
	<div class="col">
		<h4>Contact:</h4>
		<p><strong>Email:</strong> <a href="mailto:hello@eividigital.co.nz">hello@eividigital.co.nz<a></a></p>
		<p><strong>Hours:</strong> 09am - 05pm, Monday - Friday</p>
	</div>
	<div class="col">
		<h4>About</h4>
		<a href="/about-us">About us</a>
		<a href="/our-packages">Our packages</a>
		<a href="/blog">Blog</a>
		<a href="/contact">Contact us</a>
	</div>
	<div class="copyright">
		<p>2020 - 2022 © Eivi Digital - All Rights Reserved</p>
	</div>
</footer>

<script src="/js/script.js"></script>