<section id="header">
	<a href="/"><img src="/img/logo.png" class="logo" alt="logo" height="150px"></a>
			
			<div>
				<ul id="navbar">
					<li><a href="/">Home</a></li>
					<li><a href="/about-us">About us</a></li>
					<!-- <li><a href="/how-it-works">How it works</a></li> -->
					<li><a href="/our-packages">Our packages</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/contact">Contact</a></li>
					<!-- <li id="lg-bag"><a href="/bag"><i class="fas fa-shopping-bag"></i></a></li> -->
					<!-- <li id="lg-login"><a href="/login"><i class="fas fa-user"></i></a></li> -->
					<a href="#" id="close"><i class="fas fa-times"></i></a>
				</ul>
			</div>
			<div id="mobile">
				<!-- <a href="/bag"><i class="fas fa-shopping-bag"></i></a> -->
				<!-- <a href="/login"><i class="fas fa-user"></i></a> -->
				<i id="bar" class="fas fa-outdent"></i>
			</div>
</section>