<!DOCTYPE html>
<html lang="en">

	<%- include('partials/head'); %>

<body>
	
	<%- include('partials/header'); %>
	
	<section id="page-header" class="aboutus-header">
		<h2>About us</h2>
		<p>We are experts in creating valuable content to grow your brand's digital presence</p>
	</section>

	<section id="about-head" class="section-p1">
		<img src="/img/hero4.jpg" alt="">
		<div>
			<h3>Who we are</h3>
			<p>In order to serve in the best way and at a cost that is affordable for the customer and profitable for the company,
				 Eivi was created. A new marketing company model that offers content creation services for micro and small companies.
				 <br>Based on the Blue Ocean Strategy, a business concept which says that the best way to overcome the competition is to 
				 stop trying to overcome it and seek markets that have not yet been explored, Eivi Digital was designed to have low costs and greater value delivery to the customer.</p>
		</div>
	</section>


	<%- include('partials/newsletter'); %>

	<%- include('partials/footer'); %>
</body>

</html>