<!DOCTYPE html>
<html lang="en">

	<%- include('partials/head'); %>

<body>
	
	<%- include('partials/header'); %>

    <section id="page-header" class="aboutus-header">
		<h2>Lorem ipsum</h2>
		<p>Lorem ipsum</p>
	</section>

    <section id="login-box" class="section-p1">
		<div class="login-group">
			<h3>Login</h3>
			<p>Entre em sua conta</p>
		</div>
        <div class="login-form">
            <input type="text" placeholder="Your email address">
            <input type="password" placeholder="Your password">
            <a href="#">Esqueci minha senha</a>
            <button class="normal">Login</button>
            <a href="signup">Ainda nao tem conta? Cadastre-se!</a>
        </div>
	</section>
    
	<%- include('partials/footer'); %>
</body>

</html>