<!DOCTYPE html>
<html lang="en">

	<%- include('partials/head'); %>

<body>
	
	<%- include('partials/header'); %>

	<section id="page-header" class="aboutus-header">
		<h2>Our Packages</h2>
		<p>We are experts in creating valuable content to grow your brand's digital presence</p>
	</section>
	
    <section id="service1" class="section-p1">
		<h3>Social Media Content Creation</h3>
		<p>Our Packages</p>
		<div class="pro-container">
			<div class="pro">
				<div class="des">
					<h3>Starter</h3>
					<div class="doublecheck">
						<i class="fas fa-check-double"></i>
					</div>
					<ul  class="checked">
						<li><i class="fas fa-check"></i> 12 Posts (Copy & Image)</li>
						<li><i class="fas fa-check"></i> 8 Stories</li>
						<li><i class="fas fa-check"></i> Unlimited license</li>
						<li><i class="fas fa-check"></i> Strategic content</li>
						<li><i class="fas fa-check"></i> Bespoke graphic designs</li>
					</ul>
					<h4>$$$</h4>			
				</div>
				<a href="/book-a-package">Book this Package</a>
			</div>
			<div class="pro">
				<div class="des">
					<h3>Essential</h3>
					<div class="doublecheck">
						<i class="fas fa-rocket"></i>
					</div>
					<ul  class="checked">
						<li><i class="fas fa-check"></i> 20 Posts (Copy & Image)</li>
						<li><i class="fas fa-check"></i> 16 Stories</li>
						<li><i class="fas fa-check"></i> Unlimited license</li>
						<li><i class="fas fa-check"></i> Strategic content</li>
						<li><i class="fas fa-check"></i> Bespoke graphic designs</li>
					</ul>
					<h4>$$$</h4>			
				</div>
				<a href="/book-a-package">Book this Package</a>
			</div>
			<div class="pro">
				<div class="des">
					<h3>Growth</h3>
					<div class="doublecheck">
						<i class="fas fa-chart-line"></i>
					</div>
					<ul  class="checked">
						<li><i class="fas fa-check"></i> 30 Posts (Copy & Image)</li>
						<li><i class="fas fa-check"></i> 24 Stories</li>
						<li><i class="fas fa-check"></i> Unlimited license</li>
						<li><i class="fas fa-check"></i> Strategic content</li>
						<li><i class="fas fa-check"></i> Bespoke graphic designs</li>
					</ul>
					<h4>$$$</h4>			
				</div>
				<a href="/book-a-package">Book this Package</a>
			</div>
		</div>
	</section>

	<%- include('partials/newsletter'); %>

	<%- include('partials/footer'); %>
</body>

</html>